@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap');

:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --contrast-color:rgb(189, 55, 0);
    --link-main-nav-hover: rgba(0,0,0,0.5);
    --backgroung-main-content: rgb(244, 244, 244);
    --form-color: rgb(242, 232, 228);
}
body {   
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
a{
    color:var(--black);
}
p{
    line-height: 1.6;
}
h1{
    text-align: center;
    font-size:1.65em;
    margin-left: 1.25em;
    margin-right: 1.25em;
}
h2{
    font-size:1.35em;
    font-weight: 600;
}
h3{
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}
.bold_italic{
    font-weight: bold;
    font-style: italic;
}
/*header section*/
.header_section, .navigation{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.938em;
    color:var(--black);
}
.header_section_title{
    font-weight: normal;
    margin-bottom: 0em;
} 

.header_section_lema{
    font-size: 3.438em;
    text-decoration: none;
    color:var(--black);
}

.navigation{
    position: -webkit-sticky;
    position: sticky;
    z-index:1;
    top: 0.625em;
    background-color: white;
}
.header_section_navigation{
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

.header_section_navigation ul{
    list-style: none;
}
.header_section_navigation ul li{
    display:list-item;
}
.header_section_navigation ul li a{
    text-decoration: none;
}
.header_section_navigation ul li a:hover{
    color:var(--link-main-nav-hover);
}
.header_section_navigation_selected{
    color:var(--contrast-color);
}

/*footer section*/
.footer_section{
    background-color: var(--black);
    color:var(--white);
}
.footer_section_content{
    text-align: center; 
    padding-top: 1.25em;
}

.footer_section_nav ul , .footer_section_rrss ul{
    list-style: none;
}
.footer_section_nav ul li{
    display:list-item;
}
.footer_section_nav ul li a, .footer_section_rrss ul li a{
    text-decoration: none;
    color:var(--white);
}
.footer_section_nav ul li a:hover{
	color:var(--contrast-color);
}
.footer_section_rrss ul li a:hover{
    opacity: 0.7;
}
.footer_section_rrss ul li{
    display:inline;
    padding-right:0.938em;
}
.footer_section_descrip{
    margin-left:6.25em;
    margin-right: 6.25em;
    line-height: 1.6;
}
.icon{
    width: 3.125em;
    height:3.125em;
    line-height:3.125em;
    margin: 0 0 0 auto; /* X,Y */
    text-align: center;
    color: white;
}
.icon a{
    color: var(--white);
    text-decoration: none;
    font-size: 3em;
    float: left;
}

/*links*/

.internal_link{
    color:var(--contrast-color);
    font-size: 1em;
    text-decoration: none;
  }

.internal_link:hover{
    color:var(--black);
}
.internal_link2{
    color:var(--contrast-color);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-bottom: dotted var(--contrast-color);
    padding-bottom: 0.125em;
}
.internal_link2:hover{
    color:var(--black);
    text-decoration: none;
}
/*main section of all html*/
.contenido{
    background-color: var(--backgroung-main-content) ;
}

/*main section of videos.html cop26.html*/
.main_section{
    padding-top: 1.5em;
    padding-bottom: 4em;
}

/*index.html*/
.section_one{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.section_one_box{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.section_one_box img{
    width: 100%;
    height: auto;
}
.section_one_text{
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-73%, -50%);
}
.section_one_text p{
    font-size: 1.9em;
    color:var(--white);
    width: 8.75em;
}
.section_two{
    padding-top: 0.625em;
    margin-left: auto;
	margin-right: auto;
}
.section_two p{
    font-size: 1.438em;
    padding-left:1em;
    padding-right: 1em;
}
.section_three_noticias_card{
    padding-left: 1.5em;
    padding-right: 1em;
    padding-bottom: 2em;
}
.section_three_noticias_card img{
    width: 97%;
    height: 100%;
}
.section_three_noticias_card_date{
    font-size: 0.813em;
}
.section_four{
    padding-top: 0.625em;
    padding-bottom: 1.563em;
    background-color: var(--form-color);
}
.form {
    width: 100%;
    max-width: 34.688em;
    margin: 0 auto;
}
.custom_input{
    width: 86%;
    height: 2.5em;
    margin: 0.5rem;
    margin-left: 1.5em;
}
.custom_input::-webkit-input-placeholder {
    padding-left: 0.938em;
    font-size: 0.875em;
}
.form_text{
    width: 86%;
    margin-left: 1.3em;
}
.form_text p{
    font-size:0.563em;
}
.form_text span{
    font-size: 0.563em;
}
.form_text a{
    font-size: 9px;
}
.content-input input[type=checkbox ] {
	width: 0.75em;
    height: 0.75em;
}
.form_button {
    background-color: var(--contrast-color);
    color: var(--white);
    text-transform: uppercase;
    padding-left: 1.25em;
    padding-right:1.25em;
    border:0em;
    margin-top: 0.938em;
    margin-left: 1.25em;
}
.form_button:hover{
    background-color: var(--black);
}
.form_button span{
    line-height: 3.4;
    padding-left: 1.25em;
    padding-right: 1.25em;

}
/*videos.html*/
.videos p {
    font-size: 0.938em;
}
.video_card{
    width: 92%;
    margin-left: 1.25em;
    background-color: var(--white);
    text-align: center;
    margin-bottom: 1.875em;
    padding-bottom: 0.0.313em;
}
.video_card iframe{
    width: 100%;
    height: 14.5em;
    border: none;
 
}
/*cop26.html*/
.cop26_section_1, .cop26_section_2{
    margin-left: 1.25em;
    padding-right: 1em;
}
.cop26_section_1 p{
    margin-top: -0.813em;
}
.cop26_section_2_card{
	border-left: 0.438em solid var(--contrast-color);
	background-color: var(--white);
	margin-left: auto;
    margin-bottom: 2.813em;
}
.cop26_section_2_card_descrip{
	padding-bottom:0.063em;
	padding-left: 2.188em;
	padding-top: 0.063em;
}
.cop26_section_2_card_descrip p{
	padding-right: 1.688em;
	font-size: 1.063em;
}
.cop26_section_2_text ol li{
    line-height: 1.6;
}

/*sintomas.html*/

.sintoma_card{
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-top: 1.563em;
    padding-bottom: 1.25em;
    background-color: var(--white);
}
.sintoma_card_inside{
    margin-left: 1.25em;
    padding-top: 1.875em;
}

.sintoma_card_inside_text{
    margin-right: 0.938em;
}
.sintoma_card_inside img{
    width: 95%;
    height: 100%;
}

/*media queries for the deskopt */
@media  (min-width: 550px) {
    h1{
        font-size: 2.375em;
        margin-left: 0em;
        margin-right: 0em;
    }
    h3{
        font-size: 0.813em;
    }
    .header_section{
        width: 57%;
        margin-left: auto;
        margin-right: auto;
        position: static;
        text-align: left;
    }
    .navigation{
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0.625em;
        background-color: white;
        text-align: left;
        
    }
    .header_section_navigation{
        margin-left: 21.5%;
    }
    .header_section_descrip{
        margin-left: 2.5em;
    }
    .header_section_navigation ul li{
        display:inline;
        padding-right:0.938em;
    }
    
    .footer_section_content{
        text-align: left; 
        width: 57%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer_section_descrip{
        margin-left: 2.5em;
        line-height: 1.6;
    }
    .footer_section_nav ul li{
        display:inline-block;
        padding-right:0.938em;
    }
    ul.footer_section_nav_point>li::before {
        content: "•";
        padding-right: 0.5em;
        padding-left: 0.5em;
      } 
    .footer_section_nav ul {
        list-style:circle;
    }
    .internal_link{
        font-size: 1.438em;
    }
    /*index.html*/
    .section_one_box{
        height: 27.5em;
    }
    .section_one_text{
        transform: translate(-45%, -53%);
    }
    .section_one_text p{
        font-size: 4.625em;
         width: 13.5em;
    }
    .section_two p{
        font-size: 1.8em;
        padding-left: 15em;
        padding-right: 16em;
    }
   
    .section_three{
        padding-top: 0.625em;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4.375em;
    }

    .section_three_noticias {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2.5em;
    }
    .section_three_noticias_card{
        font-size: 1em;
        padding-left: 0em;
        padding-right: 0em;
    }
    .section_three_noticias_card img{
        width: 20.75em;
        height: 20.75em;
    }
    .section_three_noticias_card p{
        font-size: 1em;
    }
    
    .form {
        max-width: 36.875em;
    }

    /*videos.html*/
    .videos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:2.188em;
        width: 50%;
        margin-left: 24%;
        padding-bottom: 3.125em;
    }
    .video_card{
        width: 100%;
        margin-left: 0em;
        background-color: var(--white);
        margin-bottom: 0.313em;
        padding-bottom: 0.0.313em;
    }
    /*cop26.html*/
    .cop26_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4.188em;
        margin-left: 22.5%;
        width: 51%;
    }
    .cop26_section_1{
        width: 24.375em;
    }
    .cop26_section_2{
        width: 30.938em;
    }
    .cop26_section_2_text{
        text-align: justify;
    }
    .cop26_section_2_card_descrip p{
        font-size: 1.125em;
    }
    .smaller_link_size{
        font-size: 1em;
    }
    
    /*sintomas.html*/
    .sintomas{
        margin-left: 22.5%;
    }
    .sintoma_card{
        width: 46%;
        position: relative;
        height: auto;
    }
    .sintoma_card_inside{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0em;
    }
    .sintoma_card_inside_text{
        text-align: justify;
        margin-right:1.25em;
        font-size: 0.75em;
        margin-top: -0.625em;
    }
    .sintoma_card_inside_text h2{
        padding: 0em;
    }
    .sintoma_card_inside_text a{
        font-size: 12px;
    }
    .rigth_card{
        margin-left: 23%;
        width: 95%;
    }
}
