@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap');

:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --contrast-color:rgb(189, 55, 0);
    --link-main-nav-hover: rgba(0,0,0,0.5);
    --backgroung-main-content: rgb(244, 244, 244);
    --form-color: rgb(242, 232, 228);
}
body {   
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
a{
    color:var(--black);
}
p{
    line-height: 1.6;
}
h1{
    text-align: center;
    font-size:1.5em;
    margin-left: 20px;
    margin-right: 20px;
}
.bold{
    font-weight: bold;
}
/*header section*/
.header_section{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.938em;
    color:var(--black);
}
.header_section_title{
    font-weight: normal;
    margin-bottom: 0em;
} 

.header_section_lema{
    font-size: 3.438em;
    text-decoration: none;
    color:var(--black);
}

.header_section_navigation{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.header_section_navigation ul{
    list-style: none;
}
.header_section_navigation ul li{
    display:list-item;
}
.header_section_navigation ul li a{
    text-decoration: none;
}
.header_section_navigation ul li a:hover{
    color:var(--link-main-nav-hover);
}
.header_section_navigation_selected{
    color:var(--contrast-color);
}

/*footer section*/
.footer_section{
    background-color: var(--black);
    color:var(--white);
}
.footer_section_content{
    text-align: center; 
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}
.footer_section_nav ul , .footer_section_rrss ul{
    list-style: none;
}
.footer_section_nav ul li{
    display:list-item;
}
.footer_section_nav ul li a, .footer_section_rrss ul li a{
    text-decoration: none;
    color:var(--white);
}
.footer_section_nav ul li a:hover{
	color:var(--contrast-color);
}
.footer_section_rrss ul li a:hover{
    opacity: 0.7;
}
.footer_section_rrss ul li{
    display:inline;
    padding-right:0.938em;
}
.footer_section_descrip{
    margin-left:6.25em;
    margin-right: 6.25em;
    line-height: 1.6;
}

.contenido{
    background-color: var(--backgroung-main-content) ;
}

/*media queries for the deskopt */
@media  (min-width: 550px) {
    h1{
        font-size: 2.375em;
        margin-left: 0px;
        margin-right: 0px;
    }
    .header_section{
        width: 57%;
        margin-left: auto;
        margin-right: auto;
        position: static;
        text-align: left;
    }
    .header_section_descrip{
        margin-left: 2.5em;
    }
    .header_section_navigation ul li{
        display:inline;
        padding-right:0.938em;
    }
    
    .footer_section_content{
        text-align: left; 
        width: 57%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer_section_descrip{
        margin-left: 2.5em;
        line-height: 1.6;
    }
    .footer_section_nav ul li{
        display:inline-block;
        padding-right:0.938em;
    }
    .footer_section_nav ul {
        list-style:circle;
    }
}